.cta {
    width: 100%;
    text-align: center;
    background: $color-white;
    padding: 3.5rem 0;

    @include respond(tab-land) {
        padding: 2.5rem 1rem;
    }

    @include respond(tab-port) {
        padding: 2.5rem 1rem 1.5rem;
    }

    &__paragraph {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &__copyright {
        color: $color-gray-light-4;
        font-size: 1.5rem;
        text-align: center;
        background: $color-gray-dark-1;
        margin-top: 2.5rem;
        padding: 1.5rem;
        display: none;

        @include respond(tab-port) {
            display: block;
        }
    }
}