.header {
    height: 7rem;
    font-size: 1.4rem;
    background: $color-white;
    border-bottom: $line;
    @include center-with-flex;
    justify-content: space-between;

    @include respond(phone) {
        height: 11rem;
        flex-wrap: wrap;
    }

    &__logo {
        height: 3.25rem;
        margin-left: 2rem;
    }
}