@mixin center-with-flex {
    display: flex;    
    justify-content: center;
    align-items: center;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    // width <= 600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };    // width <= 900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    // width <= 1200px
    }
    
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    // width => 1800px
    }
}